*.iml
.gradle
/local.properties
.idea/workspace.xml
.idea/markdown-navigator.xml
.idea/runConfigurations.xml
.idea/codeStyleSettings.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/libraries
.idea/misc.xml
.idea/copyright
.idea/uiDesigner.xml
.idea/markdown-navigator
.DS_Store
/build
/captures
.externalNativeBuild
generated/
intermediates/
build/
